@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: url(https://i.ibb.co/GHsF8HN/2-agustus-5.jpg) no-repeat; 
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  min-height: 50px;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(239, 35, 60, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(239, 35, 60, 0.3);
  width: auto;
  min-height: 150px ;
  margin-top: 15px;
}

main {
  max-width: 85%; 
  margin: 0 auto;
}

header h1{
  font-size: 2.4em;
  color: white;
}

.box {
  background: rgba(239, 35, 60, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(239, 35, 60, 0.3);
  margin-top: 15px;
  padding: 15px;
}

.box1 {
  background: rgba(239, 35, 60, 0.52);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(239, 35, 60, 0.3);
margin-top: 15px;
margin-bottom: 15px;
padding: 15px;
}